#logo{
    max-height: 40px;
    max-width: 40px;
    padding-bottom : 20px;
    padding-left: 20px;
    padding-top : 20px;
    padding-right : 20px;

}

#logo:hover {
    background-color: rgba(255, 255, 255, 0.37);
    image-resolution: revert;
}
.container{
    padding: 25px;
}
#evelyn{
    max-height: 300px;
    max-width: 300px;
    padding-bottom : 20px;
    padding-left: 250px;
    padding-top : 30px;
    border-radius: 100%;
}
#intro{
    background: linear-gradient(to bottom, rgb(229, 148, 235) 0%, rgba(151, 226, 238, 0.65) 100%);
    height: 300px;
    width: 1452px;


}
#name{
    font-size: 65px;
    color: #2a2a2a;
    font-family: "Helvetica Neue";
    padding-left: 30px;

}
.social{
    position: relative;
    background: rgba(167, 159, 193, 0.65);
    height: 80px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    alignment: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}
body{
    min-height: 1500px;
    width: 800px;
    background-image: url('https://wallpaperaccess.com/full/869905.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}